.jumbotron {
  background-color: rgba(238, 238, 238, 0);
  background-image: none;
  margin: none;
}
.container {
  font-weight: lighter;
  font-family: 'Codystar', cursive;
}

body {
  font-family: 'Codystar', cursive;
  background-color: black;
  color: white;
  font-weight: lighter;
}

#instructions {
  color: white;
  margin-top: 30px;
  font-family: 'Poiret One', cursive;
  font-size: 1.25em;
}

.blink {
  color: yellow;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

#input {
  border-width: thin;
  border-color: black;
  max-width: 25%;
  border-radius: 20px;
}

.result {
  display: none;
  align-self: center;
}

.btn {
  margin: 10px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: thin;
}

footer {
margin-left: 20px;
}
